dataset VOC10
data_path ./data/voc
normalize
nclass 20
batchsize 128
optim adam
lr 1e-3
wd 0
std y
niter 50000
stepsize 10000
mode actv
fnet_path ./models/pretrained/cifar10/wali/fnet1.pt
hnet_path ./models/pretrained/cifar10/wali/std_hnet1.pt
clf_path ./models/pretrained/cifar10/wali/std_clf1.pt
model_path ./models/benchmark/cifar10/wali/finetune_conv123.net
freeze_hnet 0
linearize_hnet 0