dataset cifar100
data_path ./data/cifar100
normalize
nclass 100
batchsize 128
optim adam
lr 1e-3
std y
wd 0
niter 80000
stepsize 20000
mode actv
fnet_path ./models/pretrained/cifar100/wali/fnet1.pt
hnet_path ./models/pretrained/cifar100/wali/std_hnet1.pt
clf_path ./models/pretrained/cifar100/wali/std_clf1.pt
model_path ./models/benchmark/cifar100/wali/actv.net
freeze_hnet [1, 2, 3]
linearize_hnet 0