dataset svhn
data_path ./data/svhn
normalize
nclass 10
batchsize 128
optim adam
std y
lr 1e-3
wd 0
niter 50000
stepsize 10000
mode actv
fnet_path ./models/pretrained/svhn/wali/fnet1.pt
hnet_path ./models/pretrained/svhn/wali/std_hnet1.pt
clf_path ./models/pretrained/svhn/wali/std_clf1.pt
model_path ./models/benchmark/svhn/wali/finetune_conv23.net
freeze_hnet 1
linearize_hnet 0